<h1>Enter your word</h1>
<form  action="/printout" method="post">
  <label for="/printout">First word to check anagram</label>
  <input type="text" name="inputNumberOne">
  <br><br>
  <label for="/printout">Second word to check anagram</label>
  <input type="text" name="inputNumberTwo">
  <br><br>
  <button type="submit" name="button">Enter your info here</button>
</form>
